<footer class="footer">
    <div class="container">
        <div class="footerContent">
            <h2 class="footerContent_title">
                - get in touch with us -
            </h2>
            <p class="footerContent_paragraph">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
            <div class="footerContent_social">
                <button class="footerContent_social_item footerContent_social_item_rss">
                    <img src="/img/rss-icon.png" alt="rss">
                </button>
                <button class="footerContent_social_item footerContent_social_item_facebook">
                    <img src="/img/facebook-icon.png" alt="facebook">
                </button>
                <button class="footerContent_social_item footerContent_social_item_twiitter">
                    <img src="/img/twitter-icon.png" alt="twitter">
                </button>
                <button class="footerContent_social_item footerContent_social_item_dribbble">
                    <img src="/img/dribbble-icon.png" alt="dribbble">
                </button>
                <button class="footerContent_social_item footerContent_social_item_pintrest">
                    <img src="/img/pinterest-icon.png" alt="pinterest">
                </button>
            </div>
            <div class="footerContent_contacts">
                <p>Moonshine St. 14-05 Light City   /</p>
                <p>T. +00 (123) 456 78 90   /</p>
                <p>   first.last@email.com</p>
            </div>
        </div>
    </div>
</footer>
