.footer{
    height: 355px;
    background-color: #000;
}
.footerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title{
        color: #FEFEFE;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        text-transform: uppercase;
        padding-top: 66px;
        padding-bottom: 22px;
    }
    &_paragraph{
        width: 684px;
        height: 44px;
        color: #B9B9B9;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    &_social{
        display: flex;
        gap: 6px;
        padding-top: 37px;
        padding-bottom: 34px;
        &_item{
            width: 34px;
            height: 34px;
            background: none;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid #FEFEFE;
            &_rss{
                border-color: #F8902E;
            }
            &_facebook{
                border-color: #39599F;
            }
            &_twiitter{
                border-color: #45B0E3;
            }
            &_dribbble{
                border-color: #D97AB0;
            }
            &_pintrest{
                border-color: #CC212C;
            }
        }
    }
    &_contacts{
        display: flex;
        color: #B9B9B9;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}