.navigation{
    display: flex;
    justify-content: center;
    &_list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 68px;
        padding-top: 45px;
        padding-bottom: 51px;
        list-style: none;
        &_item a{
            text-decoration: none;
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            &:hover{
                color: #57A4A4;
            }
        }
    }
    &_burgerMenu_btn{
        display: none;
        margin: 23px 0;
        &_cross{
            display: none;
            margin: 23px 0;
        }
    }
    &_burgerMenu_list{
        display: none;
        position: absolute;
        top: 60px;
        flex-direction: column;
        justify-content:space-between;
        width: 182px;
        height: 208px;
        background: #F5F5F5;
        list-style: none;
        &_item{
            flex: 1;
            & a{
                text-decoration: none;
                color: #4E4E4E;
                font-family: Roboto;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                padding-left: 12px;
            }
            &:hover{
                background-color:  #E5E5E5;;
            }
        }
    }
}
