.intro{
    display: flex;
    justify-content: center;
    &_img{
        background-image: url("/img/intro-img\ 1.png");
        width: 100%;
        height: 550px;
    }
}
.recentPost{
    padding-top: 66px;
    &_title{
        color: #4E4E4E;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 24px;
    }
    &_deck{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
        &_card{
            display: flex;
            width: 555px;
            height: 140px;
            &_img{
                width: 160px;
                height: 140px;
                &_1{
                    background-image: url("/img/post-img\ 1.png");
                }
                &_2{
                    background-image: url("/img/postimg\ 2.png");
                }
                &_3{
                    background-image: url("/img/postimg\ 3.png");
                }
                &_4{
                    background-image: url("/img/postimg\ 4.png");
                }
            }
            &_text{
                width: 395px;
                display: flex;
                padding-left: 20px;
                flex-direction: column;
                &_title{
                    color: #4E4E4E;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                }
                &_info{
                    display: flex;
                    color: #7C7C7C;
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    &_autor::after{
                        content: "/";
                        padding: 0 5px;
                    }
                }
                &_paragraph{
                    color: #5C5C5C;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
    }
}
.instagramShots{
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 69px;
    padding-bottom: 49px;
    display: flex;
    &_titles{
        text-transform: uppercase;
        display: flex;
        padding-top: 47px;
        padding-bottom: 24px;
        justify-content: space-between;
        &_first{
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
        }
        &_second{
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
        }
    }
    &_imgList{
        display: flex;
        justify-content: space-between;
        &_post{
            width: 285px;
            height: 285px;
            &_1{
                background-image: url("/img/post1.png");
            }
            &_2{
                background-image: url("/img/post2.png");
            }
            &_3{
                background-image: url("/img/post3.png");
            }
            &_4{
                background-image: url("/img/post4.png");
            }
        }
    }
}