@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
*{
    padding: 0;
    margin: 0;
    background-size:cover;
}
.container{
    width: 1170px ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


@media (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 320px;
    }
    .navigation{
        justify-content: end;
        &_list{
            display: none;
        }
        &_burgerMenu_btn{
            display: block;
        }
        
    }
    .intro_img{
        height: 150px;
    }
    .recentPost{
        &_title{
            font-size: 14px;
        }
        &_deck{
            &_card{
                width: 232px;
                height: 196px;
                flex-direction: column;
                &_text{
                    padding-top: 11px;
                    padding-left: 0px;
                    &_title{
                        font-size: 14px;
                    }
                    &_info{
                        font-size: 11px;
                    }
                    &_paragraph{
                        display: none;
                    }
                }
                &:last-child{
                    display: none;
                }
            }
        }
    }
    .instagramShots{
        background: none;
        &_titles{
            &_first{
                font-size: 14px;
            }
            &_second{
                display: none;
            }
        }
        &_imgList_post{
            width: 301px;
            height: 301px;
            display: none;
            &_1{
                display: flex;
            }
        }
    }
    .footerContent{
        &_title{
            font-size: 14px;
        }
        &_paragraph{
            width: 303px;
            height: 52px;
            font-size: 12px;
            line-height: 20px;
            content:"Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. ";
        }
        &_contacts{
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .container{
        width: 768px;
    }
    .navigation_list{
        gap: 34px;
    }
    .intro_img{
        height: 361px;
    }
    .instagramShots_imgList_post{
        width: 250px;
        height: 249px;
        &_4{
            display: none;
        }
    }
}
